/vendor
/node_modules
/.env
/public/storage
/storage/*.key
/storage/logs
/storage/app/public
/bootstrap/cache/*.php
/bootstrap/cache/packages.php
/bootstrap/cache/services.php
.env.backup
.env.production
.env.development
/.vagrant
Homestead.json
Homestead.yaml
.phpunit.result.cache
/.phpunit.result.cache
/.php_cs.cache
/.idea
/.vscode
/.DS_Store
Thumbs.db
