* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 1rem 3rem;
    background-image: linear-gradient(90deg, transparent 0%, transparent 10%, #EA858A 10%, #EA858A calc(10% + 3px), transparent calc(10% + 3px), transparent 100%),
        linear-gradient(180deg, white 10%, transparent 10%),
        repeating-linear-gradient(180deg, #91C1E1 0px, #91C1E1 2px, transparent 2px, transparent 38px),
        linear-gradient(white, white);

    max-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* nav style */

a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1.2rem;

}

nav h1 {
    font-size: 3rem;
}

ul {

    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    padding-bottom: 0.7rem;
    width: 85%;
    margin: auto;

}

ul li:not(:first-child) {
    height: fit-content;
}

li a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: 500
}

li {
    background-color: white;
    border: none;
    border-radius: 5px;
    padding-bottom: 5px;
    color: #000000;
    position: relative;
}

li:not(:first-child) a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #333;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.5s ease;
}



li:hover a::after {
    transform: scaleX(1);
}



/* button style */
.btnForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.btnForm button {
    padding: 7px 25px;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
}

/* button style */
/* search input */
.input-container {
    width: 440px;
    position: relative;
}

.icon {
    position: absolute;
    right: 10px;
    height: 100%;
    top: calc(50% + 5px);
    transform: translateY(calc(-50% - 5px));
    background-color: transparent;
    border: none;
    padding: 0 10px;
    cursor: pointer;
    border-left: 2px solid black;
}


.input {
    width: 100%;
    height: 40px;
    padding: 10px;
    transition: .2s linear;
    border: 2.5px solid black;
    font-size: 14px;
    letter-spacing: 2px;
}

.input:focus {
    outline: none;

}

/*news page */
section {
    width: 40%;
    margin: auto;

}


form {
    width: 100%;
}

form textarea {
    padding: 8px;
    border: 2px solid black;
    resize: none;
    width: 100%;
    font-size: 1.2rem;
    background-color: transparent;
    letter-spacing: 2px;
}

form textarea:focus {
    outline: none;
}

.singleAffichage {
    border: 2px solid black;
    padding: 10px;
    margin: 10px 0;
    border-top: none;
}

.singleAffichage h6 {
    color: #646464;
}

.singleAffichage .affichage {
    margin: 10px 0;
    font-weight: 500;
    font-size: medium;
}

.singleAffichage h6 {
    color: #646464;
}

.top {
    display: flex;

}

.singleAffichage .comment {
    border-top: 2px dashed #000000;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.userName {
    display: flex;
}

/* register page */
.registerForm {
    width: 60%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;

}

.registerForm h1 {
    text-align: center;
    display: inline-block;
    letter-spacing: 2px;
    border-bottom: 4px solid black;
    padding-bottom: 8px;
    margin-bottom: 10px;


}

.registerForm form {
    display: flex;
    flex-direction: column;

}

.registerForm form input {
    margin: 6px;
    height: 40px;
    font-size: 17px;
    font-weight: 400;
    padding: 0 12px;
    background-color: transparent;
    border: 3px solid black;
}

.registerForm form input:focus {
    border: 3px solid black;
}

.registerForm form input::placeholder {

    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 600;
}

.registerForm form label {
    font-size: 1.1rem;
    font-weight: 500;

}

.registerForm form button {
    width: 120px;
    padding: 10px 30px;
    margin: 0 auto;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    background-color: transparent;
    letter-spacing: 1px;
    margin-top: 10px;

}

.registerForm form {
    border: 2px solid black;
    padding: 25px 40px;
    border-radius: 70px 20px 70px 20px;
    max-width: 100%;
}

.error {
    color: red;
    font-size: 14px;
    font-weight: 600;
}

.role {
    display: flex;
    align-items: center;
}

.role input[type='radio'] {
    display: none;
}

.role label {
    margin-left: 10px;
    border: 2px solid black;
    cursor: pointer;
    padding: 2px 4px;
}

input[type="radio"]:checked+label {
    background-color: black;
    color: #fff;
}


.successMessage {
    display: flex;
    justify-content: space-between;
    background-color: #1aff7d8d;
    padding: 14px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    animation: popUp 4s ease both;
    margin: 0 auto;

}

.successMessage svg {
    width: 10px;
    cursor: pointer;
}

@keyframes popUp {
    0% {
        opacity: 1;
    }

    70% {
        transform: translateY(-450px);
        opacity: 0.6;
    }

    100% {
        opacity: 0.3;
        display: none;
        transform: translateY(-450px);
    }

}


/* welcome page */
.sec {
    display: flex;
}

.welcome {
    border: 2px solid black;
    text-align: center;
    margin: 2rem 2rem;
    padding: 10px 1rem;
}

/* teachers AND PARENTS page */
.Users {
    display: flex;

}

.cardUser {
    padding: 10px;
    border: 2px solid black;
    margin: 5px;

}

.cardUser h3 {
    margin-bottom: 7px;
    text-align: center;
}

.sndMessage {
    cursor: pointer;
    padding: 0 10px;
    border: 2px solid black;
    border-radius: 4px;
}

/* profile page */
.user-card {
    width: 600px;
    margin: auto;
    border: 2px solid black;
    padding: 1rem 4rem;
}

.user-card img {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    margin-right: 5px;
}

.user-card .userTop {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.user-card .userTop:first-child {
    display: flex;
}


.user-card textarea {
    padding: 8px;
    border: 2px solid black;
    resize: none;
    width: 80%;
    font-size: 1rem;
    height: 100px;
    background-color: transparent;
    letter-spacing: 2px;
}



.allAffichages {
    width: 600px;
    margin: auto;
}

.user-card input {
    padding: 10px 5px;
    font-weight: 600;
    outline: none;
}

.user-card button {
    padding: 7px 25px;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    margin-top: 4px;
}

.user-card .file input {
    display: flex;
    border: 2px solid black;
}